@font-face {
  font-family: Garamond;
  src: url("Garamond.03a327d3.otf");
}
header {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: stretch;
  margin: 1em;
}
@media screen and (min-width: 1000px) {
  header {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
header a {
  color: inherit;
  text-decoration: none;
}
header > .logo {
  align-self: center;
}
header > nav {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.5em;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 1ex;
  border-bottom: 2px solid;
}
@media screen and (orientation: landscape) {
  header > nav {
    flex-direction: row;
  }
}
header > nav > a {
  --underline-width: 0;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-family: Garamond;
  text-transform: uppercase;
  background: linear-gradient(currentColor 0 0) bottom/var(--underline-width) 2px no-repeat;
  outline: none;
  opacity: 0.69;
  transition: 0.5s;
}
header > nav > a:hover {
  --underline-width: 100%;
  transform: scale(1.1);
  opacity: 1;
}
.logo img {
  width: 30vw;
}
@font-face {
  font-family: OpenSans;
  src: url("OpenSans-light.8ead32f6.ttf");
}
footer {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  color: aliceblue;
  font-family: OpenSans;
  background-color: black;
  box-shadow: 0 -0.1em 0.1em black;
}
footer * {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
}
@media screen and (orientation: landscape) {
  footer {
    flex-direction: row;
  }
}
footer > .icons {
  display: flex;
  gap: 1em;
}
.footer-license {
  white-space: pre-wrap;
}
/*# sourceMappingURL=index.9aced82e.css.map */
