@font-face {
  font-family: OpenSans;
  src: url('../fonts/OpenSans-Regular.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: OpenSans;
}

html {
  scroll-behavior: smooth;
}

html,
body,
#app {
  height: 100vh;
}

body {
  font-size: 100%;
  line-height: 1.3;
}

#app {
  display: flex;
  flex-direction: column;
  gap: 1em;

  & > main {
    flex-grow: 1;
  }
}
