.card__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10em 0 12em;
  background: #fafafa;
}

.card__container-card {
  width: 18rem;
  height: 30rem;
  text-decoration: none;
  background: linear-gradient(45deg, #ff72a8 0%, #32cd32 100%);
  border-radius: 4px;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.2);
}

.card__container-card:nth-child(2) {
  background: #000000;
  transform: scale(1.05);
}

.card__container-card:hover {
  color: #000000;
  transform: scale(1.12);
  transition: all 0.3s ease-out;
}

.card__container-card:nth-child(2) {
  margin: 0 2em;
}

.card__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0 auto;
}

.card__heading {
  margin-bottom: 2em;
  color: #000000;
}

.card__container-cardInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30em;
  padding: 1em;
  color: #ffffff;
}

.card__container-cardInfo h3 {
  margin-bottom: 0.5em;
  font-size: 2rem;
}

.card__container-cardInfo h4 {
  font-size: 2rem;
}

.card__container-cardInfo p {
  margin-bottom: 1em;
  font-size: 1rem;
}

.card__container-features {
  margin: 1em 0 2em;
  text-transform: capitalize;
  list-style: none;
}

.card__container-features li {
  margin-bottom: 1em;
}

.card__container-features {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  margin: 2em 0;
}

@media screen and (max-width: 1024px) {
  .card__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .card__container-card {
    width: 90%;
  }

  .card__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 3em;
  }

  .card__container-card:nth-child(2) {
    margin: 2em;
    background: #000000;
    transform: scale(1);
  }

  .card__container-card:hover {
    transform: none;
  }
}
