.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1em;
}

.card-title {
  color: #ff72a8;
  font-size: 4rem;
  font-style: bold;
}

.card-date {
  font-style: italic;
}

.card-geo {
  margin-bottom: 2em;
}

.card-description {
  color: #000000;
}
