@font-face {
  font-family: KGChasingCars;
  src: url('../fonts/KGChasingCars.ttf');
}

@font-face {
  font-family: Garamond;
  src: url('../fonts/Garamond.otf');
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.form__title {
  margin-bottom: 1rem;
  color: #242424;
  font-size: 3rem;
  font-family: KGChasingCars;
  text-align: start;
}

.form__input-textBox {
  position: relative;
  margin: 1em 1em 1em 1em;
}

.form-remainder {
  margin-top: 2em;
}

.form-remainder a {
  text-decoration-color: #ec1b4b;
}

#form-error li {
  margin-top: 1.313em;
  color: #25ce4a;
  font-size: 3rem;
  font-family: KGChasingCars;
  font-style: bold;

  &:not(.status) {
    margin-top: 1em;
    color: #ec1b4b;
    font-size: 1rem;
    font-family: Garamond;
    font-style: italic;
  }
}
