.home__hero-section {
  padding: 3rem 0;
  color: #ffffff;
}

.home__hero-row {
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}

.col {
  flex: 1;
  flex-basis: 50%;
  max-width: 50%;
  margin-bottom: 2em;
  padding-right: 2em;
  padding-left: 2em;
}

.home__hero-text-wrapper {
  max-width: 540px;
  padding-top: 0;
  padding-bottom: 5em;
}

.top-line {
  margin-bottom: 1em;
  color: #276afb;
  font-weight: lighter;
  font-size: 1rem;
  font-style: italic;
  letter-spacing: 3.13px;
  text-transform: uppercase;
}

.heading {
  margin-bottom: 1em;
  font-weight: bolder;
  font-size: 3rem;
  line-height: 1.2;
}

.dark {
  color: #000000;
}

.darkBg {
  background-color: #ff72a8;
}

.home__hero-subtitle {
  max-width: 480px;
  margin-bottom: 3em;
  font-size: 2rem;
  line-height: 2rem;
}

.home__hero-img-wrapper {
  max-width: 640px;
}

.home__hero-img {
  max-width: 90%;
  margin-left: 0.5em;
}

img {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}

@media screen and (max-width: 1024px) {
  .container {
    padding-right: 2em;
    padding-left: 2em;
  }
}

@media screen and (max-width: 768px) {
  .home__hero-text-wrapper {
    padding-bottom: 4em;
  }

  .col {
    flex-basis: 100%;
    max-width: 100%;
  }
}
