@font-face {
  font-weight: bolder;
  font-family: 'Material Icons';
  font-style: normal;
  src: url('../fonts/MaterialIcons.woff2');
}

.material-icons {
  display: inline-block;
  font-weight: normal;
  font-size: 2rem;
  font-family: 'Material Icons';
  font-style: normal;
  line-height: 1;
  direction: ltr;
  letter-spacing: normal;
  white-space: nowrap;
  text-transform: none;
  word-wrap: normal;
}

.mdc-card {
  padding: 1em;
}
