.smooth {
  position: fixed;
  bottom: 6rem;
  left: 90%;
  z-index: 1;
  height: 2rem;
  color: #ec1b4b;
  font-size: 3rem;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .smooth {
    display: none;
  }
}
