@font-face {
  font-family: KGChasingCars;
  src: url('../fonts/KGChasingCars.ttf');
}

.title {
  color: #276afb;
  font-size: 4rem;
  font-family: KGChasingCars;
}

.post {
  color: #242424;
  text-decoration: none;
}
